<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.ArticleMapper">

    <resultMap id="ArticleResultMap" type="com.it.model.Article">
        <id column="article_id" property="articleId"/>
        <result column="title" property="title"/>
        <result column="tag_name" property="tagName"/>
        <result column="author" property="authorId"/>
        <result column="published_time" property="publishedTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="content" property="content"/>
        <result column="star" property="starNum"/>
        <result column="collection" property="collectionNum"/>
        <result column="comment" property="commentNum"/>
        <result column="share" property="shareNum"/>
        <result column="page_view" property="pageView"/>
        <result column="stick" property="stick"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id, title, tag_name, author, published_time, tag_id, content,
        star, collection, comment, share, page_view, stick
    </sql>

    <select id="selectById" resultMap="ArticleResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM a_article
        WHERE article_id = #{articleId}
    </select>

    <select id="selectArticleList" resultMap="ArticleResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM a_article
        <where>
            <if test="tagId != null">AND tag_id = #{tagId}</if>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY stick DESC, published_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectArticleCount" resultType="long">
        SELECT COUNT(*) FROM a_article
        <where>
            <if test="tagId != null">AND tag_id = #{tagId}</if>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="selectByUserId" resultMap="ArticleResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM a_article
        WHERE author = #{userId}
        ORDER BY published_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectCountByUserId" resultType="long">
        SELECT COUNT(*) FROM a_article WHERE author = #{userId}
    </select>

    <insert id="insertArticle" parameterType="com.it.model.Article" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO a_article (title, tag_name, author, published_time, tag_id, content, stick, star, collection, comment, share, page_view)
        VALUES (#{title}, #{tagName}, #{authorId}, NOW(), #{tagId}, #{content}, 0, 0, 0, 0, 0, 0)
    </insert>

    <update id="updateArticle" parameterType="com.it.model.Article">
        UPDATE a_article
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="tagName != null">tag_name = #{tagName},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="content != null">content = #{content},</if>
        </set>
        WHERE article_id = #{articleId}
    </update>

    <delete id="deleteById">
        DELETE FROM a_article WHERE article_id = #{articleId}
    </delete>

    <update id="incrementPageView">
        UPDATE a_article SET page_view = page_view + 1 WHERE article_id = #{articleId}
    </update>

    <update id="updateStats">
        <choose>
            <when test="type == 1">
                UPDATE a_article SET star = star + #{increment} WHERE article_id = #{articleId}
            </when>
            <when test="type == 2">
                UPDATE a_article SET collection = collection + #{increment} WHERE article_id = #{articleId}
            </when>
            <when test="type == 3">
                UPDATE a_article SET comment = comment + #{increment} WHERE article_id = #{articleId}
            </when>
            <when test="type == 4">
                UPDATE a_article SET share = share + #{increment} WHERE article_id = #{articleId}
            </when>
        </choose>
    </update>

    <select id="selectHotArticles" resultMap="ArticleResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM a_article
        ORDER BY page_view DESC, published_time DESC
        LIMIT #{limit}
    </select>

    <insert id="insertArticleTag">
        INSERT INTO a_article_tag (article_id, tag_id) VALUES (#{articleId}, #{tagId})
    </insert>

    <delete id="deleteArticleTags">
        DELETE FROM a_article_tag WHERE article_id = #{articleId}
    </delete>

    <update id="updateStarNum">
        UPDATE a_article SET star = star + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updateCollectionNum">
        UPDATE a_article SET collection = collection + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updateCommentNum">
        UPDATE a_article SET comment = comment + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updateShareNum">
        UPDATE a_article SET share = share + #{num} WHERE article_id = #{articleId}
    </update>

</mapper>
